// Common styles
asm-vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

.asm-wrapper
  position relative
  top 0
  left 0
  z-index 10
  vendor('transition', all 0.3s ease-in-out)

#asm-mask
  position fixed
  top 0
  left 0
  z-index 15
  width 100%
  height 100%
  background rgba(0,0,0,0.8)

.asm
  position fixed
  z-index 20
  overflow hidden
  asm-vendor('transition', all 0.3s ease-in-out)

  ul
    list-style-type none
    margin 0
    padding 0
    text-align center

.asm-horizontal
  top 0
  width 300px
  height 100%

  li
    display block

.asm-closed
  left 0
  asm-vendor('transition', all 0.3s ease-in-out)

// Left

.asm-left
  left -300px

.asm-open .asm-left
  left 0

// Right

.asm-right
  right -300px

.asm-open .asm-right
  right 0

.asm-body-push-right
  left -300px
  asm-vendor('transition', all 0.3s ease-in-out)
