width = 300px
negwidth = -300px
height = 100px
negheight = -100px

// Common styles
asm-vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

.asm-wrapper
  position relative
  top 0
  left 0
  z-index 10
  vendor('transition', all 0.3s ease-in-out)

#asm-mask
  position fixed
  top 0
  left 0
  z-index 9998
  width 100%
  height 100%
  background rgba(0,0,0,0.8)

.asm
  position fixed
  z-index 9999
  overflow hidden
  asm-vendor('transition', all 0.3s ease-in-out)

.asm-horizontal
  top 0
  width width
  height 100%

.asm-vertical
  left 0
  width 100%
  height height

.asm-body-closed
  left 0
  top 0
  asm-vendor('transition', all 0.3s ease-in-out)

// Left

.asm-left
  left negwidth

.asm-left-open
  left 0

.asm-body-push-left
  left width
  asm-vendor('transition', all 0.3s ease-in-out)

// Right

.asm-right
  right negwidth

.asm-right-open
  right 0

.asm-body-push-right
  left negwidth
  asm-vendor('transition', all 0.3s ease-in-out)

// Top

.asm-top
  top negheight

.asm-top-open
  top 0

.asm-body-push-top
  top height
  asm-vendor('transition', all 0.3s ease-in-out)

// Bottom

.asm-bottom
  bottom negheight

.asm-bottom-open
  bottom 0

.asm-body-push-bottom
  top negheight
  asm-vendor('transition', all 0.3s ease-in-out)
