// Common styles
asm-vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  -ms-{prop} args
  -o-{prop} args
  {prop} args

.asm-wrapper
  position relative
  top 0
  left 0
  z-index 10
  vendor('transition', all 0.3s ease-in-out)

#asm-mask
  position fixed
  top 0
  left 0
  z-index 15
  width 100%
  height 100%
  background rgba(0,0,0,0.8)

.asm
  position fixed
  z-index 20
  overflow hidden
  asm-vendor('transition', all 0.3s ease-in-out)

  /*ul
    list-style-type none
    margin 0
    padding 0
    text-align center*/

.asm-horizontal
  top 0
  width 300px
  height 100%

  /*li
    display block*/

.asm-vertical
  left 0
  width 100%
  height 100px

  /*li
    display inline-block*/

.asm-body-closed
  left 0
  top 0
  asm-vendor('transition', all 0.3s ease-in-out)

// Left

.asm-left
  left -300px

.asm-left-open
  left 0

.asm-body-push-left
  left 300px
  asm-vendor('transition', all 0.3s ease-in-out)

// Right

.asm-right
  right -300px

.asm-right-open
  right 0

.asm-body-push-right
  left -300px
  asm-vendor('transition', all 0.3s ease-in-out)

// Top

.asm-top
  top -100px

.asm-top-open
  top 0

.asm-body-push-top
  top 100px
  asm-vendor('transition', all 0.3s ease-in-out)

// Bottom

.asm-bottom
  bottom -100px

.asm-bottom-open
  bottom 0

.asm-body-push-bottom
  top -100px
  asm-vendor('transition', all 0.3s ease-in-out)
